<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="COSMOS_RES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="COSMOS_RES.Properties.Settings.RESLeaderConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=RESEX;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <COSMOS_RES.Properties.Settings>
            <setting name="dsc" serializeAs="String">
                <value>Data Source=10.40.40.129;Initial Catalog=RESEX;Persist Security Info=True;User ID=sa;Password=zxcvbnm,./</value>
            </setting>
            <setting name="home" serializeAs="String">
                <value>Data Source=127.0.0.1;Initial Catalog=RESEX;Persist Security Info=True;User ID=sa;Password=123</value>
            </setting>
        </COSMOS_RES.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
