<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXApplication9.Properties.Settings.RESLeaderConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=RESLeader;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="COSMOS_RES.Properties.Settings.RESLeaderConnectionString"
            connectionString="Data Source=10.40.40.129;Initial Catalog=RESEX;Persist Security Info=True;User ID=sa;Password=zxcvbnm,./"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>